GROQ_API_KEY=
GROQ_BASE_URL=

COSMOS_URL=
COSMOS_KEY=

COSMOS_DB=

NEWS_CONTAINER=
NEWS_CONTAINER_PARTITION_ID=

CLIENT_PORTFOLIO_CONTAINER=
CLIENT_PORTFOLIO_CONTAINER_PARTITION_ID=

INSIGHTS_CONTAINER=
INSIGHTS_CONTAINER_PARTITION_ID=


EVENTHUB_NAME=
EVENTHUB_CONNECTION_STRING=
EVENTHUB_CONSUMER_GROUP=DISPATCH
CHECKPOINT_CONTAINER=
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_KEY=
AZURE_STORAGE_CONNECTION_STRING=
AzureWebJobsStorage=
FUNCTIONS_WORKER_RUNTIME=python
SERVICEBUS_CONNECTION_STRING=
QUEUE_REALTIME_NEWS=realtime-news-events
QUEUE_STANDARD_NEWS=standard-news-events
QUEUE_GENERATE_INSIGHT=generate-insight-events
REALTIME_WORKFLOW_CONCURRENCY=1
STANDARD_WORKFLOW_CONCURRENCY=1
GENERATE_INSIGHT_CONCURRENCY=1
SERVICEBUS_MAX_DELIVERY_ATTEMPTS=5
ACCEPT_EULA=Y
EMULATOR_HTTP_PORT=5300
SQL_WAIT_INTERVAL=15
MSSQL_SA_PASSWORD=

EODHD_API_KEY=

HF_TOKEN=

GOOGLE_API_KEY=

ELASTICSEARCH_URL=
